html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: blanchedalmond;
}
#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}